*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.col-5{
    width: 41.66%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33%;
}
.col-11{
    width: 91.66%;
}
.col-12{
    width: 100%;
}
body {
    background-image: linear-gradient(rgba(255,127,80,0.75),rgba(255,127,80,0.75)),url("../img/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.container {
    width: 80%;
    margin: auto;
}
header img {
    width: 100px;
}
header nav {
    position: absolute;
    right: 0px;
}
header li {
    display: inline-block;
    list-style-type: none;
    color: white;
    margin: 0px 10px;
}
.navbar {
    display: flex;
    align-items: center;
    position: relative;
    top: 20px;
}
.fab {
    color: white;
    margin: 0px 3px;
}
.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 83vh;
}
.left-section {
    margin: 100px;
}
.left-section h1 {
    font-size: 60px;
    color: white;
}
.left-section p {
    font-size: 20px;
    color: white;
    margin: 20px 0px;
}
.left-section button {
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 12px 30px;
    border-radius: 20px;
}
.left-section button:hover {
    background-color: white;
    color: black;
}
.form-box {
    background-color: #F9FAFC;
    width: 500px;
    height: 475px;
    border-radius: 4px;
}
.align-items {
    display: flex;
    align-items: center;
    height: 100%;
}
main {
    margin-top: 50px;
}
.input-style {
    width: 450px;
    height: 40px;
    margin: 25px;
    border: 1px solid grey;
    padding-left: 20px;
}
[type~="radio"] {
    margin-left: 25px;
}
label,a {
    color: gray;
}
[type~="submit"] {
    background: #FD6F2D;
    color: white;
    border-radius: 20px;
    padding: 15px 185px;
    margin: 0px 25px;
    border: none;
}
[type~="submit"]:hover {
    background-color: white;
    border: 1px solid #FD6F2D;
    color: black;
}