*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.col-5{
    width: 41.66%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33%;
}
.col-11{
    width: 91.66%;
}
.col-12{
    width: 100%;
}
body {
    background-color: #F1F1F1;
}
.container {
    width: 80%;
    margin: auto;
    margin-top: 100px;
}
.title {
    text-align: center;
    margin: 10px;
}
.title:nth-child(1) {
    font-size: 50px;
}
.title:nth-child(2) {
    font-style: italic;
}
.title-box {
    margin: 80px;
}
.box {
    height: 305px;
    padding: 30px;
}
.fas {
    color: #939393;
}
.icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.first-text-box {
    background-color: #11D2B3;
}
.second-text-box {
    background-color: #F0C40D;
}
.third-text-box {
    background-color: #6177FF;
}
.box-content {
    color: white;
    margin-top: 15px;
}
a {
    display: inline-block;
    text-underline-position: under;
}